<!DOCTYPE html>
<html lang="en" class="dark-sidebar">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Customer Expenses | Administrator</title>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="static/assets/plugins/notifications/css/lobibox.min.css" rel="stylesheet" /> <!-- For Lobi notification-->
    <link href="static/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="static/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="static/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="static/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />  <!-- For customer search dropdown -->
	<link href="static/assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
    <!-- loader-->
    <link href="static/assets/css/pace.min.css" rel="stylesheet" />
    <script src="static/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css"> -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto&amp;display=swap" />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="static/assets/css/icons.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="static/assets/css/app.css" />
    <link rel="stylesheet" href="static/assets/css/dark-sidebar.css" />
    <link rel="stylesheet" href="static/assets/css/dark-theme.css" />

    <style>
        table td:last-child,
        table th:last-child {
            text-align: center;
        }

        .no-arrows::-webkit-inner-spin-button,
        .no-arrows::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* This will hide the scrollbar in Google Chrome and Safari */
        ::-webkit-scrollbar {
            display: none;
        }

        .required:after {
            content: " *";
            color: red;
        }
    </style>
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        {% include 'sidebar.html' %}
        <!--page-wrapper-->
        <div class="page-wrapper">
            <div class="page-content-wrapper">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %} {% endif %}

                <div class="page-content">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card border-top border-0 border-4 border-primary">
                                <div class="card-body p-5">
                                    <div class="card-title d-flex align-items-center">
                                        <h5 class="mb-0 text-primary">Customer Expenses</h5>
                                        <div class="parent-icon" onclick="openCalculator()" style="scale:2.2;margin-left: auto;padding-right:5px;cursor:pointer;color:#673ab7;">
                                            <i class="bx bx-calculator"></i>
                                        </div>
                                    </div>
                                    <hr />
                                    <form class="row g-3" action="/customer-expenses" method="POST">
                                        {% csrf_token %}
                                        <div class="row g-3" style="justify-content: space-between">
                                            <div class="col-md-2 left">
                                                <label for="inputSellBillNo" class="form-label">Expense No.</label>
                                                <input type="text" class="form-control" name="billNo" id="inputInvoiceNo" value="{{billNo}}" readonly />
                                            </div>
                                            <div class="col-md-2 left" style="margin-right: auto;">
                                                <label for="inputExpenseType" class="form-label required">Expense Category</label>
                                                <select name="expenseType" id="inputExpenseType" class="form-select form-control" required>
                                                    <option value="Select Category" hidden selected>Select Category</option>
                                                    <option value="Salary">Salary</option>
                                                    <option value="Rent">Rent</option>
                                                    <option value="Maintenance">Maintenance</option>
                                                    <option value="Tax Bill">Tax Bill</option>
                                                    <option value="Courier Expenses">Courier Expenses</option>
                                                    <option value="Food Expenses">Food Expenses</option>
                                                    <option value="Transporation">Transporation</option>
                                                    <option value="Stationary">Stationary</option>
                                                    <option value="Labour Expenses">Labour Expenses</option>
                                                    <option value="Miscellaneous Expenses">Miscellaneous Expenses</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 right">
                                                <label for="inputBillDate" class="form-label required">Expense Bill Date</label>
                                                <input type="date" class="form-control" name="billDate" id="inputBillDate" required />
                                            </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-md-3">
                                                <label for="inputCustomer" class="form-label required">Customer</label>
                                                <select name="customer" id="selectCustomer" class="form-control form-select single-select" required>
                                                    <option value="Select customer" selected hidden>Select customer</option>
                                                    {% for customer in customers %}
                                                        <option value="{{customer.customerId}}">{{customer.customerName}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-md-2">
                                                <label for="inputPhone" class="form-label required">Phone</label>
                                                <input type="phone" class="form-control" name="customerPhone" id="inputPhone" readonly required />
                                            </div>
                                            <div class="col-md-3">
                                                <label for="inputGSTIN" class="form-label">GSTIN</label>
                                                <input type="text" class="form-control" name="customerGst" id="inputGSTIN" value="" readonly />
                                            </div>
                                        </div>

                                        <div class="row g-3">
                                            <table class="table table-responsive table-bordered" id="myTable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col" class="required">Product</th>
                                                        <th scope="col" class="required">Quantity</th>
                                                        <th scope="col" class="required">Unit</th>
                                                        <th scope="col" class="required">Price/unit</th>
                                                        <th scope="col" class="required">Amount</th>
                                                        <th scope="col">
                                                            <i class="fa fa-plus-circle fa-2x add-row-btn" id="add-row-btn" aria-hidden="true" style="color: #673ab7; cursor: pointer;"></i>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="purchaseRows">
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>
                                                            <input type="text" class="form-control shadow-none" name="product_1" autocomplete="off" required />
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control shadow-none no-arrows" name="quantity_1" onchange="computeAmount(1)" required />
                                                        </td>
                                                        <td>
                                                            <select name="unit_1" class="form-select form-control" style="box-shadow: none;" required>
                                                                <option value="Pieces" selected>Pieces</option>
                                                                <option value="Dozen">Dozen</option>
                                                                <option value="Grams">Grams</option>
                                                                <option value="Kilograms">Kilograms</option>
                                                                <option value="Milliliters">Milliliters</option>
                                                                <option value="Liters">Liters</option>
                                                                <option value="Meters">Meters</option>
                                                                <option value="Centimeters">Centimeters</option>
                                                                <option value="Inches">Inches</option>
                                                                <option value="Feet">Feet</option>
                                                                <option value="Yards">Yards</option>
                                                                <option value="Pounds">Pounds</option>
                                                                <option value="Gallons">Gallons</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control shadow-none no-arrows" step="0.01" name="pricePerUnit_1" required onchange="computeAmount(1)" />
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control shadow-none no-arrows" name="amount_1" required readonly />
                                                        </td>

                                                        <td>
                                                            <button class="btn btn-sm btn-danger delete-row-btn" style="background-color:red;" type="button">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row g-3" style="justify-content: space-between; height: auto;">
                                            <div style="width: 60%;">
                                                <div class="col-md-2" style="margin-right: 20px;padding-top: 10px;">
                                                    <label for="inputPaymentType" class="form-label required">Payment type</label>
                                                    <select name="paymentType" id="inputPaymentType"
                                                        class="form-select form-control" required>
                                                        <option value="Cash" selected>Cash</option>
                                                        <option value="Cheque">Cheque</option>
                                                        <option value="UPI">UPI</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 mt-3">
                                                    <label for="inputDescription" class="form-label">Description</label>
                                                    <textarea class="form-control" name="description" id="inputDescription"
                                                        placeholder="Description" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="display: inline-block;">
                                                <div>
                                                    <label for="showTotal" class="form-label">Total</label>
                                                    <input type="text" name="total" class="form-control" id="ShowTotal" readonly required />
                                                </div>
                                                <div class="showGST" style="padding-top: 10px; ">
                                                    <label for="showGST" class="form-label">GST (18%)</label>
                                                    <input type="text" name="gst" class="form-control" id="showGST" readonly required />
                                                </div>
                                                <div class="showGrossTotal" style="padding-top: 10px;">
                                                    <label for="showGrossTotal" class="form-label">Gross total</label>
                                                    <input type="text" name="grossTotal" class="form-control" id="showGrossTotal" readonly required />
                                                </div>
                                                <div class="form-check pt-2" style="padding-left: 2em; display: flex; justify-content: space-between;">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="includeGST" id="includeGSTCheckbox" value="Include GST">
                                                        Include GST
                                                    </label>
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="roundOff" id="roundOffCheckbox" value="roundOff">
                                                        Round Off
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12" style="justify-self: right;">
                                            <div>
                                                <button type="submit" onclick="return validateInput()" class="btn btn-primary px-5">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="javaScript:;" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>

    <!-- Bootstrap JS -->
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="static/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="static/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="static/assets/plugins/edittable/bstable.js"></script>
    <script src="static/assets/plugins/select2/js/select2.min.js"></script> <!-- For search customer dropdown -->
    <!-- Notification -->
    <script src="static/assets/plugins/notifications/js/lobibox.min.js"></script>
	<script src="static/assets/plugins/notifications/js/notifications.min.js"></script>
	<script src="static/assets/plugins/notifications/js/notification-custom-script.js"></script>

    <script>
        function openCalculator(){
            $.ajax({
                url: "/supplier-expenses",
                data: { 'calculator': 'calculator' },
                success: function (data) {
                }
            });
        }

        // To print today date in date picker
        document.addEventListener('DOMContentLoaded', function() {
            var today = new Date().toISOString().split('T')[0]; // Get the current date in the 'YYYY-MM-DD' format
            document.getElementById('inputBillDate').value = today; // Set the default value of the datetime picker
        });

        // For search customer dropdown
        $('.single-select').select2({
			theme: 'bootstrap4',
			width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
			placeholder: $(this).data('placeholder'),
			allowClear: Boolean($(this).data('allow-clear')),
		});

        // Round Off Gross Total
        var totalInput = document.getElementById("showGrossTotal");
        var originalValue = parseFloat(totalInput.value); // Store the original value as a number
        var roundedValue = null; // Store the rounded value
        var storeOldTotal;
        function roundOffTotal() {
            var roundOffCheckbox = document.getElementById("roundOffCheckbox");
            var gstValue = document.getElementById("showGST");
            var total = parseFloat(totalInput.value);
            //var includeGSTCheckbox = document.getElementById('includeGSTCheckbox');
            //if(includeGSTCheckbox){
                if (roundOffCheckbox.checked) {
                    var decimalPart = total - Math.floor(total); // Get the decimal portion of the total value
                    storeOldTotal = total;
                    if (decimalPart < 0.5) {
                        roundedValue = Math.floor(total); // Round down to the nearest whole number
                    } else {
                        roundedValue = Math.ceil(total); // Round up to the nearest whole number
                    }
                    totalInput.value = roundedValue.toFixed(2); // Format the rounded total to two decimal places
                }else{
                    totalInput.value = storeOldTotal.toFixed(2);
                    storeOldTotal = 0.00;
                }
            //}
        }
        document.getElementById("roundOffCheckbox").addEventListener("click", roundOffTotal);
 
        $(document).ready(function () {
            var roundOffCheckbox = document.getElementById("roundOffCheckbox");
            roundOffCheckbox.disabled = true;
            $("#selectCustomer").on('change', function () {
                // Get the selected customer ID
                var customerId = $(this).val();

                // Send an AJAX request to get the customer data
                if (customerId) {
                    $.ajax({
                        url: "/get-customer-data",
                        data: { 'customerId': customerId },
                        success: function (data) {
                            // Update the input fields with the customer data
                            $("#inputPhone").val(data.phone);
                            $("#inputGSTIN").val(data.gst);
                            if(data.gst != ''){
                                var includeGSTCheckbox = document.getElementById('includeGSTCheckbox');
                                includeGSTCheckbox.checked = true;
                                computeTotal(true);
                            }else{
                                var includeGSTCheckbox = document.getElementById('includeGSTCheckbox');
                                includeGSTCheckbox.checked = false;
                                computeTotal(false);
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr.responseText);
                        }
                    });
                }
                else {
                    $('#selectCustomer').val('');
                }
            });
        });
    </script>

    <script>
        const includeGSTCheckbox = document.getElementById('includeGSTCheckbox');
        $(document).ready(function () {
            var roundOffCheckbox = document.getElementById("roundOffCheckbox");
            roundOffCheckbox.disabled = true;
            var currentDate = new Date();
            $("#datetimepicker").datetimepicker({
                value:
                    currentDate.getDate() +
                    "-" +
                    currentDate.getMonth() +
                    "-" +
                    currentDate.getFullYear(),
                format: "dd-mm-yyyy",
            });

            // Add row button click event

            var purchasedProductsTable = document.getElementById('myTable');
            var addRowButton = document.getElementById('add-row-btn');

            addRowButton.addEventListener('click', function () {
                var rowCounter = purchasedProductsTable.rows.length;
                var newRow = document.createElement('tr');
                newRow.innerHTML = `
					<th scope="row"></th>
					<td><input type="text" class="form-control shadow-none" name="product_${rowCounter}" autocomplete="off" required/></td>
					<td><input type="number" id="quantity" class="form-control shadow-none no-arrows" name="quantity_${rowCounter}" required onchange="computeAmount(${rowCounter})"/></td>
					<td><select name="unit_${rowCounter}" id="unit" class="form-select form-control" required><option value="meter" selected>Meter</option><option value="piece">Piece</option></select></td>
					<td><input type="number" step="0.01" id="pricePerUnit" class="form-control shadow-none no-arrows" name="pricePerUnit_${rowCounter}" required onchange="computeAmount(${rowCounter})"/></td>
					<td><input type="number" class="form-control shadow-none no-arrows" name="amount_${rowCounter}" required readonly/></td>
					<td><button class="btn btn-sm btn-danger delete-row-btn" style="background-color:red;" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>`
                purchasedProductsTable.querySelector('tbody').appendChild(newRow);
                rowCounter++;
                updateRowNumber();
                $('input[name^="quantity"]').on('change', function () {
                    var roundOffCheckbox = document.getElementById("roundOffCheckbox");
                    roundOffCheckbox.disabled = false;
                    $('input[name^="quantity"], input[name^="pricePerUnit"], input[name^="amount_"], input[name^="discount"], input[name^="otherExpenses"]').on('change', function () {
                        console.log("inside change gst & total");
                        if (includeGSTCheckbox.checked) {
                            computeTotal(true);
                        } else {
                            computeTotal(false);
                        }
                    });
                });
            });

            // Delete row button click event
            $(document).on("click", ".delete-row-btn", function () {
                var rowCount = $("#myTable tbody tr").length;
                $(this).closest("tr").remove();
                updateRowNumber();
                if (includeGSTCheckbox.checked) {
                    showGST.style.display = 'block';
                    showGrossTotal.style.display = 'block';
                    computeTotal(true);
                } else {    
                    computeTotal(false);
                }
            });
        }); // Document ready function ends here

        function computeAmount(index) {
            var quantity = document.getElementsByName("quantity_" + index)[0].value;
            var pricePerUnit = document.getElementsByName("pricePerUnit_" + index)[0].value;
            var amount = (quantity * pricePerUnit).toFixed(2);
            document.getElementsByName("amount_" + index)[0].value = amount;
        }

        function computeTotal(includeGstChecked) {
            var totalAmount = 0.0;
            $('input[name^="amount_"]').each(function () {
                var amount = $(this).val();
                if (amount != '') {
                    totalAmount += parseFloat(amount);
                }
            });
            var gstin = document.getElementById("inputGSTIN").value;
            if(gstin != ''){
                includeGSTCheckbox.disabled = false;
                if (includeGstChecked) {
                    var gst = totalAmount * 0.18;
                    computeGrossTotal(totalAmount, gst);
                } else {
                    console.log("inside else gst");
                    $('input[name="gst"]').val('0.00');
                    var gst = 0.0;
                    computeGrossTotal(totalAmount, gst); 
                }
            }else{
                includeGSTCheckbox.disabled = true;
                $('input[name="gst"]').val('0.00');
                var gst = 0.0;
                computeGrossTotal(totalAmount, gst);
            }
            // update the total field with the computed value
            $('input[name="total"]').val(totalAmount.toFixed(2));
        }
        
        function computeGrossTotal(totalAmount, gst) {
            var roundOffCheckbox = document.getElementById("roundOffCheckbox");
            if(roundOffCheckbox.checked){
                roundOffTotal();
                $('input[name="gst"]').val(gst.toFixed(2));
                var grossTotal = totalAmount + gst;
                $('input[name="grossTotal"]').val(grossTotal.toFixed(2));
            }else{
                $('input[name="gst"]').val(gst.toFixed(2));
                var grossTotal = totalAmount + gst;
                $('input[name="grossTotal"]').val(grossTotal.toFixed(2));
            }
        }

        // call the computeTotal function whenever the quantity or price fields are changed		
        $('input[name^="quantity"], input[name^="pricePerUnit"], input[name^="amount_"], select[id="selectCustomer"]').on('change', function () {
            var roundOffCheckbox = document.getElementById("roundOffCheckbox");
            roundOffCheckbox.disabled = false;
            if (includeGSTCheckbox.checked) {
                computeTotal(true);
            } else {
                computeTotal(false);
            }
            
        });

        function updateRowNumber() {
            $("#myTable tbody tr").each(function (index) {
                $(this)
                    .find("th")
                    .text(index + 1);
            });
        }

        computeTotal(true); 

        includeGSTCheckbox.addEventListener('change', function () {
            if (includeGSTCheckbox.checked) {
                computeTotal(true);
            } 
            else {
                computeTotal(false);
            }
        });

        // Input validation
        function validateInput() { 
            var productQuantity = document.querySelectorAll("[name^='quantity']");
            var pricePerUnit = document.querySelectorAll("[name^='pricePerUnit']");
            var productName = document.querySelectorAll("[name^='product']");
            var selectCustomer = document.getElementById("selectCustomer");
            var inputExpenseType = document.getElementById("inputExpenseType");
            var inputBillDate = document.getElementById("inputBillDate");
            var tbody = document.getElementById('purchaseRows');
            var tableRows = tbody.querySelectorAll('tr');
            var number = /^[0-9]+$/;
            var floatnumber = /^[0-9.]+$/;
            var alphanumeric = /^[a-zA-Z0-9\s]*$/;
            var isValid = true;
            var initialDropdownValue = "Select customer";
            var initialExpenseDropdownValue = "Select Category";
            if(tableRows.length == 0){
                Lobibox.notify('default', {
                    pauseDelayOnHover: true,
                    continueDelayOnInactiveTab: false,
                    position: 'center top',
                    size: 'mini',
                    msg: 'Please enter atleast one data to proceed further.'
                });
                isValid = false;
                return isValid;
            } else{
                if (!inputBillDate.value) {
                    Lobibox.notify("default", {
                        pauseDelayOnHover: true,
                        continueDelayOnInactiveTab: false,
                        position: "center top",
                        size: "mini",
                        msg: "Please select a date."
                    });
                    isValid = false;
                    return isValid;
                }
                if (selectCustomer.value === initialDropdownValue) {
                    Lobibox.notify("default", {
                      pauseDelayOnHover: true,
                      continueDelayOnInactiveTab: false,
                      position: "center top",
                      size: "mini",
                      msg: "Please select an option from the customer list."
                    });
                    isValid = false;
                    return isValid;
                }
                if (inputExpenseType.value === initialExpenseDropdownValue) {
                    Lobibox.notify("default", {
                      pauseDelayOnHover: true,
                      continueDelayOnInactiveTab: false,
                      position: "center top",
                      size: "mini",
                      msg: "Please select an Expense option from the Expense list."
                    });
                    isValid = false;
                    return isValid;
                }
                for (let i = 0; i < productName.length; i++) {
                    const p_name = productName[i];
                    if (p_name.value === "" || p_name.value === null) {
                        Lobibox.notify("default", {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: "center top",
                            size: "mini",
                            msg: "Product name cannot be empty."
                        });
                        isValid = false;
                        return isValid;
                    } else if (!alphanumeric.test(p_name.value)) {
                        Lobibox.notify("default", {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: "center top",
                            size: "mini",
                            msg: "Invalid format. Please enter a valid product name."
                        });
                        isValid = false;
                        return isValid;
                    }
                }
            
                for (let i = 0; i < productQuantity.length; i++) {
                    const quantity = productQuantity[i];
                    if (quantity.value === "" || quantity.value === null) {
                        Lobibox.notify("default", {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: "center top",
                            size: "mini",
                            msg: "Quantity value cannot be empty."
                        });
                        isValid = false;
                        return isValid;
                    } else if (parseInt(quantity.value) === 0) {
                        Lobibox.notify('default', {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: 'center top',
                            size: 'mini',
                            msg: 'Quantity value cannot be 0. Please enter a valid value greater than 0 or update the Stock data.'
                        });
                        isValid = false;
                        return isValid;
                    } else if (!number.test(quantity.value)) {
                        Lobibox.notify("default", {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: "center top",
                            size: "mini",
                            msg: "Invalid format. Please enter a valid number."
                        });
                        isValid = false;
                        return isValid;
                    }
                }
                for (let i = 0; i < pricePerUnit.length; i++) {
                    const unitPrice = pricePerUnit[i];
                    if (unitPrice.value === "" || unitPrice.value === null) {
                        Lobibox.notify("default", {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: "center top",
                            size: "mini",
                            msg: "Price/unit value cannot be empty."
                        });
                        isValid = false;
                        return isValid;
                    } else if (parseInt(unitPrice.value) === 0) {
                        Lobibox.notify('default', {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: 'center top',
                            size: 'mini',
                            msg: 'Price/unit value cannot be 0. Please enter a valid value greater than 0.'
                        });
                        isValid = false;
                        return isValid;
                    } else if (!floatnumber.test(unitPrice.value)) {
                        Lobibox.notify("default", {
                            pauseDelayOnHover: true,
                            continueDelayOnInactiveTab: false,
                            position: "center top",
                            size: "mini",
                            msg: "Invalid format. Please enter a valid number."
                        });
                        isValid = false;
                        return isValid;
                    }
                }
            } 
        }  
    </script>
    <!-- App JS -->
    <script src="static/assets/js/app.js"></script>
</body>

</html>